<div class='model-form'>
  <%= simple_form_for @ocn_model do |f| %>
    <div class='row'>
      <div class='col-md-4'>
        <dl>
          <dt><%= t('global.basic_info') %></dt>
          <dd>
            <%= render 'scrinium_esm/commons/model_form', f: f, model: @ocn_model %>
          </dd>
        </dl>
      </div>
      <div class='col-md-4'>
        <dl>
          <dt><%= t('ocn_model.dynamical_core_scheme') %></dt>
          <dd>
            <%= f.input :dynamical_core_scheme, label: t('ocn_model.dynamical_core_scheme') %>
            <%= f.input :advection_scheme, label: t('ocn_model.advection_scheme') %>
            <div class='row'>
              <div class='col-md-6'>
                <%= f.input :horizontal_mesh, label: t('ocn_model.horizontal_mesh') %>
              </div>
              <div class='col-md-6'>
                <%= f.input :vertical_coordinate, label: t('ocn_model.vertical_coordinate') %>
              </div>
            </div>
          </dd>
        </dl>
      </div>
    </div>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
