<% content_for :specification do %>
  <dl>
    <dt><%= t('activerecord.attributes.scrinium_esm/ocn_model.dynamical_core_scheme') %></dt>
    <dd>
      <table class='table'>
        <tbody>
          <tr>
            <td><%= t('activerecord.attributes.scrinium_esm/ocn_model.dynamical_core_scheme') %></td>
            <td><%= @ocn_model.dynamical_core_scheme %></td>
          </tr>
          <tr>
            <td><%= t('activerecord.attributes.scrinium_esm/ocn_model.advection_scheme') %></td>
            <td><%= @ocn_model.advection_scheme %></td>
          </tr>
          <tr>
            <td><%= t('activerecord.attributes.scrinium_esm/ocn_model.horizontal_mesh') %></td>
            <td><%= @ocn_model.horizontal_mesh.text %></td>
          </tr>
          <tr>
            <td><%= t('activerecord.attributes.scrinium_esm/ocn_model.vertical_coordinate') %></td>
            <td><%= @ocn_model.vertical_coordinate.text %></td>
          </tr>
        </tbody>
      </table>
    </dd>
  </dl>
<% end %>

<%= render 'scrinium_esm/commons/model_show', model: @ocn_model %>
