<% readonly ||= false %>
<% left, right = subject.split('____')[0..1] %>
<% random_string = SecureRandom.random_number(36**12).to_s(36).rjust(12, "0") %>
<tr id='<%= random_string %>'>
  <td><%= ScriniumEsm::Experiment::ActionTypeMap[type] %></td>
  <td><%= left %></td>
  <td><%= right %></td>
  <% if not readonly %>
    <td>
      <a class='button btn-xs btn-danger right' id='delete-action-<%= random_string %>'><%= t('action.delete') %></a>
    </td>
  <% end %>
</tr>
