<div class='experiment-form'>
  <%= simple_form_for [current_user, @experiment] do |f| %>
    <dl>
      <dt><%= t('global.basic_info') %></dt>
      <dd>
        <%=
          f.input :name,
          label: false,
          placeholder: t('experiment.name'),
          required: true
        %>
        <%=
          f.input :category_list,
          label: false,
          collection: @experiment.categories.map { |t| t.name },
          input_html: {
            multiple: 'multiple',
            data: {
              placeholder: t('experiment.placeholder.categories')
            }
          }
        %>
        <%=
          f.input :description,
          label: false,
          placeholder: t('experiment.description'),
          required: true,
          as: :text
        %>
        <div class='row'>
          <div class='col-md-3'>
            <%=
              f.input :contact_id,
              label: false,
              required: true,
              collection: [@experiment.contact_id],
              input_html: {
                id: 'input-user-name',
                data: {
                  placeholder: t('global.contact')
                }
              }
            %>
          </div>
          <div class='col-md-3' id='input-experiment-type'>
            <%=
              f.input :experiment_type, label: false,
              input_html: { id: 'input-experiment-type' }
            %>
          </div>
          <div class='col-md-3' id='input-atm-model-id'
          <% if @experiment.experimentable_type == 'ScriniumEsm::AtmModel' %>
            >
          <% else %>
            style='display:none'>
          <% end %>
            <%=
              f.input :experimentable_id,
              label: false,
              collection: ScriniumEsm::AtmModel.all,
              include_blank: true,
              selected: @experiment.experimentable_id,
              label_method: :short_name,
              value_method: :id,
              input_html: {
                id: 'input-atm-model-id'
              }
            %>
          </div>
          <div class='col-md-3' id='input-ocn-model-id'
          <% if @experiment.experimentable_type == 'ScriniumEsm::OcnModel' %>
            >
          <% else %>
            style='display:none'>
          <% end %>
            <%=
              f.input :experimentable_id,
              label: false,
              collection: ScriniumEsm::OcnModel.all,
              include_blank: true,
              selected: @experiment.experimentable_id,
              label_method: :short_name,
              value_method: :id,
              input_html: {
                id: 'input-ocn-model-id'
              }
            %>
          </div>
          <div class='col-md-3' id='input-coupled-model-id'
          <% if @experiment.experimentable_type == 'ScriniumEsm::CoupledModel' %>
            >
          <% else %>
            style='display:none'>
          <% end %>
            <%=
              f.input :experimentable_id,
              label: false,
              collection: ScriniumEsm::CoupledModel.all,
              include_blank: true,
              selected: @experiment.experimentable_id,
              label_method: :short_name,
              value_method: :id,
              input_html: {
                id: 'input-coupled-model-id'
              }
            %>
          </div>
        </div>
      </dd>
    </dl>
    <dl>
      <dt><%= t('scrinium_esm.experiment_action') %></dt>
      <dd>
        <%= f.simple_fields_for :experiment_actions, @experiment.experiment_actions.sort_by { |x| x.order } do |g| %>
          <%= render 'experiment_action_field', f: g %>
        <% end %>
      </dd>
    </dl>
    <div class='right'>
      <%= link_to_add_field t('action.add')+t('scrinium_esm.experiment_action'), f, :experiment_actions, class: 'button' %>
      <% if @experiment.id %>
        <%= f.button :submit, t('action.edit')+t('scrinium_esm.experiment'), class: 'button', id: 'submit-experiment' %>
      <% else %>
        <%= f.button :submit, t('action.add')+t('scrinium_esm.experiment'), class: 'button', id: 'submit-experiment' %>
      <% end %>
    </div>
  <% end %>
</div>
