<div class='experiment-form'>
  <%= simple_form_for @experiment do |f| %>
    <dl>
      <dt><%= t('global.basic_info') %></dt>
      <dd>
        <%= f.input :name, label: t('experiment.name') %>
        <%=
          f.input :category_list,
          label: t('experiment.categories'),
          collection: @experiment.categories.map { |t| t.name },
          input_html: { multiple: 'multiple' }
        %>
        <%= f.input :description, label: t('experiment.description'), as: :text %>
        <div class='row'>
          <div class='col-md-3'>
            <%=
              f.input :contact_id,
              label: t('global.contact'),
              collection: [@experiment.contact_id],
              input_html: { id: 'input-user-name' }
            %>
          </div>
          <div class='col-md-3' id='input-experiment-type'>
            <%=
              f.input :experiment_type, label: t('experiment.type'),
              input_html: { id: 'input-experiment-type' }
            %>
          </div>
          <div class='col-md-4' id='input-atm-model-id'
          <% if @experiment.experimentable_type == 'ScriniumEsm::AtmModel' %>
            >
          <% else %>
            style='display:none'>
          <% end %>
            <%=
              f.input :experimentable_id,
              label: t('scrinium_esm.atm_model'),
              collection: ScriniumEsm::AtmModel.all,
              label_method: :short_name,
              value_method: :id,
              input_html: { id: 'input-atm-model-id' }
            %>
          </div>
          <div class='col-md-4' id='input-ocn-model-id'
          <% if @experiment.experimentable_type == 'ScriniumEsm::OcnModel' %>
            >
          <% else %>
            style='display:none'>
          <% end %>
            <%=
              f.input :experimentable_id,
              label: t('scrinium_esm.ocn_model'),
              collection: ScriniumEsm::OcnModel.all,
              label_method: :short_name,
              value_method: :id,
              input_html: { id: 'input-ocn-model-id' }
            %>
          </div>
          <div class='col-md-4' id='input-coupled-model-id'
          <% if @experiment.experimentable_type == 'ScriniumEsm::CoupledModel' %>
            >
          <% else %>
            style='display:none'>
          <% end %>
            <%=
              f.input :experimentable_id,
              label: t('scrinium_esm.coupled_model'),
              collection: ScriniumEsm::CoupledModel.all,
              label_method: :short_name,
              value_method: :id,
              input_html: { id: 'input-coupled-model-id' }
            %>
          </div>
        </div>
      </dd>
    </dl>
    <dl>
      <dt><%= t('scrinium_esm.experiment_action') %></dt>
      <dd>
        <%= f.simple_fields_for :experiment_actions, @experiment.experiment_actions.sort_by { |x| x.order } do |g| %>
          <%= render 'experiment_action_field', f: g %>
        <% end %>
      </dd>
    </dl>
    <%=
      link_to_add_field t('action.add')+t('scrinium_esm.experiment_action'),
      f, :experiment_actions, class: 'button float-left'
    %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
