<ul class='left-side-list'>
  <li><%= @experiment.name %></li>
  <li><%= "#{t('experiment.type')}: #{@experiment.experiment_type.text}" %></li>
  <li>
    <ul class='left-side-list'>
      <% @experiment.categories.each do |t| %>
        <li><span class='label label-default'>
          <%= t.name %>
        </span></li>
      <% end %>
    </ul>
  </li>
  <li>
    <%= t('global.contact') %>:
    <%=
      link_to User.find(@experiment.contact_id).name,
      main_app.user_path(@experiment.contact_id)
    %>
  </li>
  <% if can? :update, @experiment %>
    <li>
      <%=
        link_to fa_icon('edit', text: t('action.edit')),
        [:edit, @experiment.user, @experiment], :'data-no-turbolink' => true
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('coffee', text: t('action.add')+t('global.log')),
        user_add_experiment_log_path(current_user, @experiment),
        id: 'add-log',
        style: 'display: none;'
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('cube', text: t('action.add')+t('scrinium_esm.diagnostic_result')),
        scrinium_esm.new_user_experiment_diagnostic_result_path(current_user, @experiment),
        id: 'add-diagnostic-result', style: 'display: none;'
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('plus-square', text: t('action.add')+t('experiment.ensemble_member')),
        new_user_experiment_path(current_user, experiment_id: @experiment.id),
        id: 'add-ensemble-member', style: 'display: none;'
      %>
    </li>
  <% end %>
  <% if can? :delete, @experiment %>
    <li>
      <%=
        link_to fa_icon('trash', text: t('action.delete')),
        [ scrinium_esm, current_user, @experiment ],
        method: :delete,
        data: { confirm: t('message.are_you_sure_to_delete?', thing: t('scrinium_esm.experiment')) }
      %>
    </li>
  <% end %>
  <li>
    <%=
      render partial: 'collections/collect_button',
      locals: { collectable: @experiment }
    %>
  </li>
</ul>
