<ul class='left-side-list'>
  <li><%= @experiment.name %></li>
  <li><%= "#{t('experiment.type')}: #{get_experiment_type @experiment}" %></li>
  <li>
    <ul class='left-side-list'>
      <% @experiment.categories.each do |t| %>
        <li><span class='label label-default'>
          <%= t.name %>
        </span></li>
      <% end %>
    </ul>
  </li>
  <li>
    <%= t('global.contact') %>:
    <%=
      link_to User.find(@experiment.contact_id).name,
      main_app.user_path(@experiment.contact_id)
    %>
  </li>
  <% if is_super_admin_or_admin?(current_user) or current_user == @experiment.user %>
    <li>
      <%=
        link_to fa_icon('edit', text: t('action.edit')),
        [:edit, @experiment.user, @experiment], 'data-no-turbolink': true
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('coffee', text: t('action.add')+t('global.log')),
        user_add_experiment_log_path(current_user, @experiment),
        id: 'add-log',
        style: 'display: none;'
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('cube', text: t('action.add')+t('scrinium_esm.diagnostic_result')),
        scrinium_esm.new_user_experiment_diagnostic_result_path(current_user, @experiment),
        id: 'add-diagnostic-result', style: 'display: none;'
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('plus-square', text: t('action.add')+t('experiment.ensemble_member')),
        new_user_experiment_path(current_user, experiment_id: @experiment.id),
        id: 'add-ensemble-member', style: 'display: none;'
      %>
    </li>
  <% end %>
</ul>
