<table class='table'>
  <thead>
    <tr>
      <th width='100'><%= t('experiment.name') %></th>
      <th width='100'><%= t('experiment.type') %></th>
      <th width='50'><%= t('scrinium_esm.model') %></th>
      <th width='100'><%= t('global.contact') %></th>
      <th width='200'><%= t('global.create_time') %></th>
    </tr>
  </thead>
  <tbody>
    <% experiments.each do |e| %>
      <% model = get_experimentable(e) %>
      <tr>
        <td><%= link_to e.name, [e.user, e] %></td>
        <td><%= get_experiment_type e %></td>
        <td><%= link_to model.short_name, model %></td>
        <td><%= link_to User.find(e.contact_id).name, main_app.user_path(e.contact_id) %></td>
        <td><%= e.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
