<table class='table'>
  <thead>
    <tr>
      <th width='100'><%= t('experiment.name') %></th>
      <th width='100'><%= t('experiment.type') %></th>
      <th width='50'><%= t('scrinium_esm.model') %></th>
      <th width='100'><%= t('global.contact') %></th>
      <th width='200'><%= t('global.create_time') %></th>
    </tr>
  </thead>
  <tbody>
    <% experiments.each do |experiment| %>
      <% model = experiment.experimentable %>
      <tr>
        <td><%= link_to experiment.name, [ experiment.user, experiment ] %></td>
        <td><%= experiment.experiment_type.text %></td>
        <td><%= link_to model.short_name, model %></td>
        <td><%= link_to User.find(experiment.contact_id).name, main_app.user_path(experiment.contact_id) %></td>
        <td><%= experiment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
