<table class='table table-striped'>
  <thead>
    <tr>
      <th width='100'><%= t('activerecord.attributes.scrinium_esm/experiment.name') %></th>
      <th width='100'><%= t('activerecord.attributes.scrinium_esm/experiment.experiment_type') %></th>
      <th width='50'><%= t('scrinium_esm.model') %></th>
      <th width='100'><%= t('activerecord.attributes.scrinium_esm/experiment.contact_id') %></th>
      <th width='200'><%= t('activerecord.attributes.scrinium_esm/experiment.created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% experiments.each do |experiment| %>
      <% model = experiment.experimentable %>
      <tr class='clickable-row' data-href='<%= url_for experiment %>'>
        <td><%= experiment.name %></td>
        <td><%= experiment.experiment_type.text %></td>
        <td><%= model.short_name %></td>
        <td><%= experiment.contact.name %></td>
        <td><%= experiment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
