<% content_for :title, @experiment.name %>
<% add_breadcrumb @experiment.name, url_for([@experiment.user, @experiment]) %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <div>
    <ul class='nav nav-tabs' role='tablist'>
      <li role='presentation' class='active'>
        <a href='#info' aria-controls='experiment' role='tab' data-toggle='tab' id='info'>
          <%= t('experiment.info') %>
        </a>
      </li>
      <li role='presentation'>
        <a href='#logs' aria-controls='logs' role='tab' data-toggle='tab' id='logs'>
          <%= t('experiment.log') %>
        </a>
      </li>
    </ul>
    <div class='tab-content'>
      <div role='tabpanel' class='tab-pane active' id='info'>
        <dl>
          <dt><%= t('global.basic_info') %></dt>
          <dd class='markdown'><%= @experiment.description %></dd>
        </dl>
        <dl>
          <dt><%= t('experiment.actions') %></dt>
          <dd>
            <table class='table'>
              <thead>
                <tr>
                  <th width='100'></th>
                  <th width='100'></th>
                  <th width='100'></th>
                </tr>
              </thead>
              <tbody>
                <% @experiment.action_types.zip(@experiment.action_subjects).each do |t, s| %>
                  <%= render partial: 'action', locals: { type: t, subject: s, readonly: true } %>
                <% end %>
              </tbody>
            </table>
          </dd>
        </dl>
        <dl>
          <dt></dt>
          <dd>
            <%=
              render partial: 'comments/list',
              locals: {
                app: scrinium_esm,
                commentable: @experiment
              }
            %>
          </dd>
        </dl>
      </div>
      <div role='tabpanel' class='tab-pane' id='logs'>
        <div class='right'>
          <% if current_user %>
            <%=
              link_to t('action.add'),
              user_add_experiment_log_path(current_user, @experiment),
              class: 'button btn-xs'
            %>
          <% end %>
        </div>
        <%=
          render partial: 'articles/table_list',
          locals: { articles: @experiment.logs }
        %>
      </div>
    </div>
  </div>
<% end %>
