<% content_for :title, @experiment.name %>
<% add_breadcrumb @experiment.name, url_for([@experiment.user, @experiment]) %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <div>
    <ul class='nav nav-tabs' role='tablist'>
      <li role='presentation' class='active'>
        <a href='#info' aria-controls='experiment' role='tab' data-toggle='tab' id='info'>
          <%= t('global.info') %>
        </a>
      </li>
      <li role='presentation'>
        <a href='#logs' aria-controls='logs' role='tab' data-toggle='tab' id='logs'>
          <%= t('global.log') %>
        </a>
      </li>
      <li role='presentation'>
        <a href='#diagnostic_results' aria-controls='diagnostic_results' role='tab' data-toggle='tab' id='diagnostic_results'>
          <%= t('scrinium_esm.diagnostic_result') %>
        </a>
      </li>
    </ul>
    <div class='tab-content'>
      <div role='tabpanel' class='tab-pane active' id='info'>
        <%= render 'info' %>
      </div>
      <div role='tabpanel' class='tab-pane' id='logs'>
        <%= render 'logs' %>
      </div>
      <div role='tabpanel' class='tab-pane' id='diagnostic_results'>
        <%= render 'diagnostic_results' %>
      </div>
    </div>
  </div>
<% end %>
