<% content_for :title, @experiment.name %>
<% add_breadcrumb @experiment.name, url_for([@experiment.user, @experiment]) %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <dl>
    <dt><%= t('global.basic_info') %></dt>
    <dd class='markdown'><%= @experiment.description %></dd>
  </dl>
  <dl>
    <dt><%= t('experiment.actions') %></dt>
    <dd>
      <table class='table'>
        <thead>
          <tr>
            <th width='100'></th>
            <th width='100'></th>
            <th width='100'></th>
          </tr>
        </thead>
        <tbody>
          <% @experiment.action_types.zip(@experiment.action_subjects).each do |t, s| %>
            <%= render partial: 'action', locals: { type: t, subject: s, readonly: true } %>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
  <dl>
    <dt></dt>
    <dd>
      <%=
        render partial: 'comments/list',
        locals: {
          app: scrinium_esm,
          commentable: @experiment
        }
      %>
    </dd>
  </dl>
<% end %>
