<div class='data-form'>
  <%= simple_form_for @datum do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :datum_type %>
    <%= f.input :datum_format %>
    <%= f.input :home_page %>
    <%= f.input :local_store %>
    <%=
      f.input :contact_id,
      collection: [ @datum.contact_id ],
      input_html: { id: 'input-user-name' }
    %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right', id: 'submit-datum' %>
  <% end %>
</div>
