<table class='table table-striped'>
  <thead>
    <tr>
      <th width="100"><%= t('data.name') %></th>
      <th width="300"><%= t('data.type') %></th>
      <th width="200"><%= t('global.create_time') %></th>
    </tr>
  </thead>
  <tbody>
    <% data.each do |datum| %>
      <tr>
        <td>
          <%= link_to d.name, datum %>
        </td>
        <td><%= datum.datum_type %></td>
        <td><%= datum.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
