<div class='metric-form'>
  <%= simple_form_for @metric do |f| %>
    <%= f.input :name %>
    <%= f.input :short_name %>
    <%= f.input :description, as: :text %>
    <%=
      f.input :contact_id,
      collection: [ @metric.contact_id ],
      input_html: { id: 'input-user-name' }
    %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
