<ul class='left-side-list'>
  <li><%= @metric.name %></li>
  <li>
    <%= t('global.contact') %>:
    <%= link_to @metric.contact.name, main_app.user_path(@metric.contact) %>
  </li>
  <% if can? :update, @metric %>
    <li>
      <%=
        link_to fa_icon('edit', text: t('action.edit')),
        scrinium_esm.edit_user_metric_path(current_user, @metric)
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('cube', text: t('action.add')+t('scrinium.resource')),
        [
          scrinium_esm,
          :new,
          current_user,
          @metric,
          :resource
        ],
        id: 'add-resource', style: 'display: none;'
      %>
    </li>
  <% end %>
  <% if can? :delete, @metric %>
    <li>
      <%=
        link_to fa_icon('trash', text: t('action.delete')),
        [ scrinium_esm, current_user, @metric ],
        method: :delete,
        data: { confirm: t('message.are_you_sure_to_delete?', thing: t('scrinium_esm.metric')) }
      %>
    </li>
  <% end %>
</ul>
