<ul class='left-side-list'>
  <li><%= @comparison_project.name %></li>
  <li>
    <%= t('global.contact') %>:
    <%=
      link_to @comparison_project.contact.username,
      [ main_app, @comparison_project.contact ]
    %>
  </li>
  <% if is_super_admin_or_admin?(current_user) %>
    <li>
      <%=
        link_to fa_icon('edit', text: t('action.edit')),
        [ scrinium_esm, :edit, current_user, @comparison_project ]
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('cube', text: t('action.add')+t('scrinium.resource')),
        scrinium_esm.new_user_comparison_project_resource_path(current_user, @comparison_project),
        id: 'add-resource', style: 'display: none;'
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('file-text-o', text: t('action.add')+t('scrinium_esm.experiment_spec')),
        scrinium_esm.new_user_comparison_project_experiment_spec_path(current_user, @comparison_project),
        id: 'add-experiment-spec', style: 'display: none;'
      %>
    </li>
  <% end %>
</ul>
