<% content_for :title, model.short_name %>
<% add_breadcrumb model.short_name, model %>

<% content_for :left_side do %>
  <%= render 'scrinium_esm/commons/model_profile_left', model: model %>
<% end %>

<% content_for :main_block do %>
  <dl>
    <dt><%= t('model.description') %></dt>
    <dd class='markdown'><%= model.description %></dd>
  </dl>
  <dl>
    <dt><%= t('model.specification') %></dt>
    <dd>
      <dl>
        <dt><%= t('model.basic_info') %></dt>
        <dd>
          <table class='table'>
            <tbody>
              <tr>
                <td><%= t('model.simulation_region') %></td>
                <td><%= model.simulation_region.text %></td>
              </tr>
              <tr>
                <td><%= t('model.simulation_type') %></td>
                <td><%= model.simulation_type.text %></td>
              </tr>
            </tbody>
          </table>
        </dd>
      </dl>
      <%= content_for :specification %>
    </dd>
  </dl>
<% end %>
