<% content_for :title, model.short_name %>
<% add_breadcrumb model.short_name, url_for(model) %>

<% content_for :left_side do %>
  <%=
    render partial: 'scrinium_esm/commons/model_profile_left',
    locals: { model: model }
  %>
<% end %>

<% content_for :main_block do %>
  <dl>
    <dt><%= t('global.description') %></dt>
    <dd class='markdown'><%= model.description %></dd>
  </dl>
  <dl>
    <dt><%= t('global.specification') %></dt>
    <dd>
      <dl>
        <dt><%= t('global.basic_info') %></dt>
        <dd>
          <table class='table'>
            <tbody>
              <tr>
                <td><%= t('model.simulation_region') %></td>
                <td><%= model.simulation_region.text %></td>
              </tr>
              <tr>
                <td><%= t('model.simulation_type') %></td>
                <td><%= model.simulation_type.text %></td>
              </tr>
            </tbody>
          </table>
        </dd>
      </dl>
      <%= content_for :specification %>
    </dd>
  </dl>
<% end %>
