<%=
  f.input :name,
  label: false,
  placeholder: t('model.name'),
  required: true
%>
<%=
  f.input :short_name,
  label: false,
  placeholder: t('model.short_name'),
  required: true
%>
<%=
  f.input :repository_url,
  label: false,
  placeholder: t('model.repository_url'),
  required: true
%>
<%=
  f.input :affiliation,
  label: false,
  placeholder: t('model.affiliation'),
  required: true
%>
<div class='row'>
  <div class='col-md-4'>
    <%= f.input :simulation_region %>
  </div>
  <div class='col-md-4'>
    <%= f.input :simulation_type %>
  </div>
  <div class='col-md-4'>
    <%=
      f.input :contact_id,
      label: false,
      required: true,
      collection: User.all,
      input_html: {
        data: {
          placeholder: t('global.contact')
        }
      }
    %>
  </div>
</div>
<%=
  f.input :description,
  label: false,
  placeholder: t('global.description'),
  required: true,
  as: :text
%>
