<%= f.input :name, label: t('model.name') %>
<%= f.input :short_name, label: t('model.short_name') %>
<%= f.input :repository_url, label: t('model.repository_url') %>
<%= f.input :affiliation, label: t('model.affiliation') %>
<div class='row'>
  <div class='col-md-4'>
    <%= f.input :simulation_region, label: t('model.simulation_region') %>
  </div>
  <div class='col-md-4'>
    <%= f.input :simulation_type, label: t('model.simulation_type') %>
  </div>
  <div class='col-md-4'>
    <%= f.input :contact_id,
      label: t('model.contact'),
      collection: [ model.contact_id ],
      input_html: { id: 'input-user-name' }
    %>
  </div>
</div>
<%= f.input :description, label: t('model.description'), as: :text %>
