<table class='table'>
  <thead>
    <tr>
      <th width='100'><%= t('model.short_name') %></th>
      <th width='300'><%= t('model.name') %></th>
      <th width='100'><%= t('global.contact') %></th>
      <th width='200'><%= t('global.create_time') %></th>
    </tr>
  </thead>
  <tbody>
    <% models.each do |m| %>
      <tr>
        <td><%= link_to m.short_name, m %></td>
        <td><%= m.name %></td>
        <td><%= link_to User.find(m.contact_id).name, main_app.user_path(m.contact_id) %></td>
        <td><%= m.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
