<% content_for :title, model.short_name %>

<% content_for :left do %>
  <%=
    render partial: 'scrinium_esm/commons/model_profile_left',
    locals: { model: model }
  %>
<% end %>

<% content_for :main do %>
  <dl>
    <dt><%= t('global.description') %></dt>
    <dd class='markdown'><%= model.description %></dd>
  </dl>
  <dl>
    <dt><%= t('global.specification') %></dt>
    <dd>
      <div class='row'>
        <div class='col-md-4'>
          <dl>
            <dt><%= t('global.basic_info') %></dt>
            <dd>
              <table class='table'>
                <tbody>
                  <tr>
                    <td><%= t('model.simulation_region') %></td>
                    <td><%= model.simulation_region %></td>
                  </tr>
                  <tr>
                    <td><%= t('model.simulation_type') %></td>
                    <td><%= model.simulation_type %></td>
                  </tr>
                </tbody>
              </table>
            </dd>
          </dl>
        </div>
        <%= content_for :specification %>
      </div>
    </dd>
  </dl>
<% end %>
