<ul class='left-side-list'>
  <li>
    <%= t('activerecord.models.scrinium_esm/experiment') %>:
    <%= @diagnostic_result.experiment.name %>
  </li>
  <li>
    <%= t('activerecord.attributes.scrinium_esm/diagnostic_result.metric_id') %>:
    <%= @diagnostic_result.metric.name %>
  </li>
  <li>
    <%= t('activerecord.attributes.scrinium_esm/diagnostic_result.contact_id') %>:
    <%= link_to @diagnostic_result.contact.name, @diagnostic_result.contact %>
  </li>
  <% if policy(@diagnostic_result).update? %>
    <li>
      <%=
        link_to fa_icon('edit', text: t('action.edit')),
        [ :edit, @diagnostic_result ]
      %>
      <% if policy(@diagnostic_result).destroy? %>
        <%=
          link_to fa_icon('trash', text: t('action.delete')),
          [ @diagnostic_result ], method: :delete,
          data: { confirm: t('message.are_you_sure_to_delete?', thing: t('activerecord.models.scrinium_esm/diagnostic_result')) }
        %>
      <% end %>
    </li>
  <% end %>
</ul>
