<% can_act ||= false %>
<table class='table table-striped'>
  <thead>
    <tr>
      <th width="100"><%= t('scrinium_esm.metric') %></th>
      <th width="100"><%= t('global.contact') %></th>
      <th width="200"><%= t('global.create_time') %></th>
    </tr>
  </thead>
  <tbody>
    <% diagnostic_results.each do |d| %>
      <tr>
        <td>
          <%= link_to d.metric.short_name, scrinium_esm.user_experiment_diagnostic_result_path(d.contact, d.experiment, d) %>
        </td>
        <td>
          <%= link_to d.contact.name, main_app.user_path(d.contact) %>
        </td>
        <td><%= d.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
