<table class='table table-striped'>
  <thead>
    <tr>
      <th width="100"><%= t('scrinium_esm.metric') %></th>
      <th width="100"><%= t('global.contact') %></th>
      <th width="200"><%= t('global.create_time') %></th>
    </tr>
  </thead>
  <tbody>
    <% diagnostic_results.each do |result| %>
      <tr>
        <td>
          <%= link_to result.metric.short_name, result %>
        </td>
        <td>
          <%= link_to result.contact.name, result.contact %>
        </td>
        <td><%= result.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
