<% can_act ||= false %>
<table class='table table-striped'>
  <thead>
    <tr>
      <th width="100"><%= t('scrinium_esm.metric') %></th>
      <th width="100"><%= t('global.contact') %></th>
      <th width="200"><%= t('global.create_time') %></th>
      <% if true or can_act %>
        <th width="200"><%= t('actions') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% diagnostic_results.each do |d| %>
      <tr>
        <td>
          <%= link_to d.metric.short_name, scrinium_esm.user_experiment_diagnostic_result_path(d.contact, d.experiment, d) %>
        </td>
        <td>
          <%= link_to d.contact.username, main_app.user_path(d.contact) %>
        </td>
        <td><%= d.created_at %></td>
        <% if true or can_act %>
          <td>
            <%=
              link_to t('action.delete'),
              scrinium_esm.user_experiment_diagnostic_result_path(current_user, d.experiment, d),
              method: :delete,
              data: { confirm: t('message.are_you_sure_to_delete?', thing: t('scrinium_esm.diagnostic_result')) },
              class: 'button btn-xs btn-danger'
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
