<div class='experiment-spec-form'>
  <%= simple_form_for [ @comparison_project, @experiment_spec ] do |f| %>
    <%= f.hidden_field :comparison_project_id, value: @comparison_project.id %>
    <%= f.input :name, label: t('global.name') %>
    <%= f.input :short_name, label: t('global.short_name') %>
    <%= f.input :description, label: t('global.description'), as: :text %>
    <%= f.input :contact_id, label: t('global.contact'),
      collection: [ @experiment_spec.contact_id ],
      input_html: { id: 'input-user-name' }
    %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
