<ul class='left-side-list'>
  <li><%= @experiment_spec.name %></li>
  <li>
    <%= t('global.contact') %>:
    <%= link_to @experiment_spec.contact.name, @experiment_spec.contact %>
  </li>
  <% if policy(@experiment_spec).update? %>
    <li>
      <%=
        link_to fa_icon('edit', text: t('action.edit')),
        [ :edit, @experiment_spec.comparison_project, @experiment_spec ]
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('cube', text: t('action.add')+t('scrinium.resource')),
        [ :new, @experiment_spec, :resource ], id: 'add-resource', style: 'display: none;'
      %>
    </li>
  <% end %>
  <% if policy(@experiment_spec).destroy? %>
    <li>
      <%=
        link_to fa_icon('trash', text: t('action.delete')), @experiment_spec, method: :delete,
        data: { confirm: t('message.are_you_sure_to_delete?', thing: t('activerecord.models.scrinium_esm/experiment_spec')) }
      %>
    </li>
  <% end %>
</ul>
