<table class='table table-striped'>
  <thead>
    <tr>
      <th width="100"><%= t('global.short_name') %></th>
      <th width="300"><%= t('global.name') %></th>
      <th width="100"><%= t('global.contact') %></th>
      <th width="200"><%= t('global.create_time') %></th>
    </tr>
  </thead>
  <tbody>
    <% experiment_specs.each do |spec| %>
      <tr>
        <td>
          <%= link_to spec.short_name, [ spec.comparison_project, spec ] %>
        </td>
        <td><%= spec.name %></td>
        <td>
          <%= link_to spec.contact.name, spec.contact %>
        </td>
        <td><%= spec.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
